body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template: 160px auto/ 250px auto;
}

.header {
    box-shadow: 2px 2px 2px gray;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* padding: 15px; */
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 50px;
}

.profile .img-small {
    display: block;
    position: relative;
    bottom: 12px;
}

.header-top .profile {
    padding-top: 6px;
    justify-self: end;
    display: grid;
    /* justify-content: center; */
    /* align-items: start; */
    grid-template-columns: 1fr 1fr 2fr;
    text-align: center;
}

.search-bar input[type=text] {
    padding: 6px;
    border: none;
    background-color: lightsteelblue;
    border-radius: 20px;
    width: 80%;
    margin-left: 10px;
}

.header-bottom {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greetings {
    font-weight: bold;
}

.greetings .img-big {
    display: block;
    position: relative;
    /* bottom: 120px; */
    bottom: 12px;
    float: left;
    margin-right: 20px;
}

.greetings p {
    margin: 0;
}

.greetings .name {
    font-size: 1.2rem;
}

.header .buttons {
    justify-self: end;
    /* align-self: center; */
}

.header button {
    border-radius: 20px;
    border: none;
    margin: 10px;
    padding: 10px 25px;
    font-weight: bold;
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1/3;
    color: white;
    font-weight: bold;
}

.sidebar .logo {
    font-size: 1.5rem;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin: 16px 0px;
}

.menu img {
    width: 20px;
    position: relative;
    top: 3px;
    margin-right: 10px;
}

.menu-main, .menu-extras {
    padding-left: 1.8rem;
}

.main-content {
    background-color: lightgray;
    padding: 20px;
    padding-right: 30px;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: 20px 24px;
}

.main-content h2 {
    font-size: 1.2rem;
}

.projects {
    grid-row: 1/3;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.main-content .card {
    background-color: #FFFFFF;
    color: black;
    /* text-align: center; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    border-left: 6px solid orange;
    box-shadow: 2px 2px 2px grey;
}

.card .title {
    margin: 0;
    margin-top: 12px;
    font-weight: bold;
    font-size: 1.1rem;
}

.card p {
    margin-top: 3px;
    margin-right: 40px;
}

.card .card-buttons {
    align-self: self-end;
}

.a-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 16px 36px;
}

.a-title {
    font-weight: bold;
    margin-bottom: 2px;
}

.a-container div:not(:last-child){
    /* margin: 0; */
    /* padding-bottom: 12px; */
    border-bottom: 1px solid grey;
}

.a-title + p{
    margin: 0;
    padding-bottom: 16px;
}

.trending-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 16px 24px;
}

.trending-container p {
    margin: 0;
}

.trending-container div {
    margin: 12px 0px;
}

.trending-container div .img-small {
    float: left;
    position: relative;
    bottom: 6px;
    margin-right: 1.1rem;
}

.trending-container,
 .a-container {
    box-shadow: 2px 2px 2px grey;
}

.img-small {
    width: 45px;
}

.img-big {
    width: 65px;
}

.kiwi {
    background-color: pink;
    border-radius: 50%;
}

.gorilla {
    background-color: lightgreen;
    border-radius: 50%;
}

.chicken {
    background-color: orange;
    border-radius: 50%;
}

.turtle {
    background-color: lightskyblue;
    border-radius: 50%;
}